.pl-d--none {
    display: none !important;
}

.pl-d--inline {
    display: inline !important;
}

.pl-d--inline-block {
    display: inline-block !important;
}

.pl-d--block {
    display: block !important;
}

.pl-d--flex {
    display: flex !important;
}

.pl-d--inline-flex {
    display: inline-flex !important;
}