.pl-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1 * $gutter;
    margin-left: -1 * $gutter;
    margin-top: -1 * $gutter;
}

.pl-grid>.pl-col,
.pl-grid>[class*="p-col"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pl-nogutter {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
}

.pl-nogutter>.pl-col,
.pl-nogutter>[class*="p-col-"] {
    padding: 0;
}

.pl-dir--row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.pl-dir--rev {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.pl-dir--col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.pl-dir--col-rev {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.pl-justify--start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.pl-justify--end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.pl-justify--center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.pl-justify--between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.pl-justify--around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.pl-justify--even {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.pl-align--start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.pl-align--end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.pl-align--center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.pl-align--baseline {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.pl-align--stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.pl-col {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    padding: $gutter;
}

.pl-col--fixed {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: $gutter;
}

.pl-col--align-start {
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.pl-col--align-end {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.pl-col--align-center {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.pl-col--align-baseline {
    -ms-flex-item-align: baseline;
    align-self: baseline;
}

.pl-col--align-stretch {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
}

.pl-dir--col>.pl-col,
.pl-dir--col-rev>.pl-col {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

.pl-col--1,
.pl-col--2,
.pl-col--3,
.pl-col--4,
.pl-col--5,
.pl-col--6,
.pl-col--7,
.pl-col--8,
.pl-col--9,
.pl-col--10,
.pl-col--11,
.pl-col--12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: $gutter;
}

.pl-col--1 {
    width: 8.3333%;
}

.pl-col--2 {
    width: 16.6667%;
}

.pl-col--3 {
    width: 25%;
}

.pl-col--4 {
    width: 33.3333%;
}

.pl-col--5 {
    width: 41.6667%;
}

.pl-col--6 {
    width: 50%;
}

.pl-col--7 {
    width: 58.3333%;
}

.pl-col--8 {
    width: 66.6667%;
}

.pl-col--9 {
    width: 75%;
}

.pl-col--10 {
    width: 83.3333%;
}

.pl-col--11 {
    width: 91.6667%;
}

.pl-col--12 {
    width: 100%;
}

.pl-col-order-first {
    -ms-flex-order: -1;
    order: -1;
}

.pl-col-order-last {
    -ms-flex-order: 13;
    order: 13;
}

.pl-col-order-0 {
    -ms-flex-order: 0;
    order: 0;
}

.pl-col-order-1 {
    -ms-flex-order: 1;
    order: 1;
}

.pl-col-order-2 {
    -ms-flex-order: 2;
    order: 2;
}

.pl-col-order-3 {
    -ms-flex-order: 3;
    order: 3;
}

.pl-col-order-4 {
    -ms-flex-order: 4;
    order: 4;
}

.pl-col-order-5 {
    -ms-flex-order: 5;
    order: 5;
}

.pl-col-order-6 {
    -ms-flex-order: 6;
    order: 6;
}

.pl-col-order-7 {
    -ms-flex-order: 7;
    order: 7;
}

.pl-col-order-8 {
    -ms-flex-order: 8;
    order: 8;
}

.pl-col-order-9 {
    -ms-flex-order: 9;
    order: 9;
}

.pl-col-order-10 {
    -ms-flex-order: 10;
    order: 10;
}

.pl-col-order-11 {
    -ms-flex-order: 11;
    order: 11;
}

.pl-col-order-12 {
    -ms-flex-order: 12;
    order: 12;
}

.pl-offset-12 {
    margin-left: 100%;
}

.pl-offset-11 {
    margin-left: 91.66666667%;
}

.pl-offset-10 {
    margin-left: 83.33333333%;
}

.pl-offset-9 {
    margin-left: 75%;
}

.pl-offset-8 {
    margin-left: 66.66666667%;
}

.pl-offset-7 {
    margin-left: 58.33333333%;
}

.pl-offset-6 {
    margin-left: 50%;
}

.pl-offset-5 {
    margin-left: 41.66666667%;
}

.pl-offset-4 {
    margin-left: 33.33333333%;
}

.pl-offset-3 {
    margin-left: 25%;
}

.pl-offset-2 {
    margin-left: 16.66666667%;
}

.pl-offset-1 {
    margin-left: 8.33333333%;
}

.pl-offset-0 {
    margin-left: 0%;
}

.pl-sm-1,
.pl-sm-2,
.pl-sm-3,
.pl-sm-4,
.pl-sm-5,
.pl-sm-6,
.pl-sm-7,
.pl-sm-8,
.pl-sm-9,
.pl-sm-10,
.pl-sm-11,
.pl-sm-12,
.pl-md-1,
.pl-md-2,
.pl-md-3,
.pl-md-4,
.pl-md-5,
.pl-md-6,
.pl-md-7,
.pl-md-8,
.pl-md-9,
.pl-md-10,
.pl-md-11,
.pl-md-12,
.pl-lg-1,
.pl-lg-2,
.pl-lg-3,
.pl-lg-4,
.pl-lg-5,
.pl-lg-6,
.pl-lg-7,
.pl-lg-8,
.pl-lg-9,
.pl-lg-10,
.pl-lg-11,
.pl-lg-12,
.pl-xl-1,
.pl-xl-2,
.pl-xl-3,
.pl-xl-4,
.pl-xl-5,
.pl-xl-6,
.pl-xl-7,
.pl-xl-8,
.pl-xl-9,
.pl-xl-10,
.pl-xl-11,
.pl-xl-12 {
    padding: $gutter;
}

.pl-col-nogutter {
    padding: 0;
}






// Auto width
.pl-flex--1 {
    flex: 1 1 0% !important;
}

.pl-flex--2 {
    flex: 2 1 0% !important;
}

.pl-flex--3 {
    flex: 3 1 0% !important;
}

.pl-flex--4 {
    flex: 4 1 0% !important;
}

.pl-flex--5 {
    flex: 5 1 0% !important;
}

.pl-flex--6 {
    flex: 6 1 0% !important;
}

.pl-flex--7 {
    flex: 7 1 0% !important;
}

.pl-flex--8 {
    flex: 8 1 0% !important;
}

.pl-flex--9 {
    flex: 9 1 0% !important;
}

.pl-flex--10 {
    flex: 10 1 0% !important;
}

.pl-flex--11 {
    flex: 11 1 0% !important;
}