.pl-mt--0 {
  margin-top: 0 !important;
}

.pl-mt--1 {
  margin-top: $spacer * 0.25 !important;
}

.pl-mt--2 {
  margin-top: $spacer * 0.5 !important;
}

.pl-mt--3 {
  margin-top: $spacer * 1 !important;
}

.pl-mt--4 {
  margin-top: $spacer * 1.5 !important;
}

.pl-mt--5 {
  margin-top: $spacer * 2 !important;
}

.pl-mt--6 {
  margin-top: $spacer * 3 !important;
}

.pl-mt--auto {
  margin-top: auto !important;
}

.pl-mr--0 {
  margin-right: 0 !important;
}

.pl-mr--1 {
  margin-right: $spacer * 0.25 !important;
}

.pl-mr--2 {
  margin-right: $spacer * 0.5 !important;
}

.pl-mr--3 {
  margin-right: $spacer * 1 !important;
}

.pl-mr--4 {
  margin-right: $spacer * 1.5 !important;
}

.pl-mr--5 {
  margin-right: $spacer * 2 !important;
}

.pl-mr--6 {
  margin-right: $spacer * 3 !important;
}

.pl-mr--auto {
  margin-right: auto !important;
}

.pl-ml--0 {
  margin-left: 0 !important;
}

.pl-ml--1 {
  margin-left: $spacer * 0.25 !important;
}

.pl-ml--2 {
  margin-left: $spacer * 0.5 !important;
}

.pl-ml--3 {
  margin-left: $spacer * 1 !important;
}

.pl-ml--4 {
  margin-left: $spacer * 1.5 !important;
}

.pl-ml--5 {
  margin-left: $spacer * 2 !important;
}

.pl-ml--6 {
  margin-left: $spacer * 3 !important;
}

.pl-ml--auto {
  margin-left: auto !important;
}

.pl-mb--0 {
  margin-bottom: 0 !important;
}

.pl-mb--1 {
  margin-bottom: $spacer * 0.25 !important;
}

.pl-mb--2 {
  margin-bottom: $spacer * 0.5 !important;
}

.pl-mb--3 {
  margin-bottom: $spacer * 1 !important;
}

.pl-mb--4 {
  margin-bottom: $spacer * 1.5 !important;
}

.pl-mb--5 {
  margin-bottom: $spacer * 2 !important;
}

.pl-mb--6 {
  margin-bottom: $spacer * 3 !important;
}

.pl-mb--auto {
  margin-bottom: auto !important;
}

.pl-mx--0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.pl-mx--1 {
  margin-left: $spacer * 0.25 !important;
  margin-right: $spacer * 0.25 !important;
}

.pl-mx--2 {
  margin-left: $spacer * 0.5 !important;
  margin-right: $spacer * 0.5 !important;
}

.pl-mx--3 {
  margin-left: $spacer * 1 !important;
  margin-right: $spacer * 1 !important;
}

.pl-mx--4 {
  margin-left: $spacer * 1.5 !important;
  margin-right: $spacer * 1.5 !important;
}

.pl-mx--5 {
  margin-left: $spacer * 2 !important;
  margin-right: $spacer * 2 !important;
}

.pl-mx--6 {
  margin-left: $spacer * 3 !important;
  margin-right: $spacer * 3 !important;
}

.pl-mx--auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.pl-my--0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.pl-my--1 {
  margin-top: $spacer * 0.25 !important;
  margin-bottom: $spacer * 0.25 !important;
}

.pl-my--2 {
  margin-top: $spacer * 0.5 !important;
  margin-bottom: $spacer * 0.5 !important;
}

.pl-my--3 {
  margin-top: $spacer * 1 !important;
  margin-bottom: $spacer * 1 !important;
}

.pl-my--4 {
  margin-top: $spacer * 1.5 !important;
  margin-bottom: $spacer * 1.5 !important;
}

.pl-my--5 {
  margin-top: $spacer * 2 !important;
  margin-bottom: $spacer * 2 !important;
}

.pl-my--6 {
  margin-top: $spacer * 3 !important;
  margin-bottom: $spacer * 3 !important;
}

.pl-my--auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.pl-m--0 {
  margin: 0 !important;
}

.pl-m--1 {
  margin: $spacer * 0.25 !important;
}

.pl-m--2 {
  margin: $spacer * 0.5 !important;
}

.pl-m--3 {
  margin: $spacer * 1 !important;
}

.pl-m--4 {
  margin: $spacer * 1.5 !important;
}

.pl-m--5 {
  margin: $spacer * 2 !important;
}

.pl-m--6 {
  margin: $spacer * 3 !important;
}

.pl-m--auto {
  margin: auto !important;
}