.pl-pt--0 {
  padding-top: 0 !important;
}

.pl-pt--1 {
  padding-top: $spacer * 0.25 !important;
}

.pl-pt--2 {
  padding-top: $spacer * 0.5 !important;
}

.pl-pt--3 {
  padding-top: $spacer * 1 !important;
}

.pl-pt--4 {
  padding-top: $spacer * 1.5 !important;
}

.pl-pt--5 {
  padding-top: $spacer * 2 !important;
}

.pl-pt--6 {
  padding-top: $spacer * 3 !important;
}

.pl-pr--0 {
  padding-right: 0 !important;
}

.pl-pr--1 {
  padding-right: $spacer * 0.25 !important;
}

.pl-pr--2 {
  padding-right: $spacer * 0.5 !important;
}

.pl-pr--3 {
  padding-right: $spacer * 1 !important;
}

.pl-pr--4 {
  padding-right: $spacer * 1.5 !important;
}

.pl-pr--5 {
  padding-right: $spacer * 2 !important;
}

.pl-pr--6 {
  padding-right: $spacer * 3 !important;
}

.pl-pl--0 {
  padding-left: 0 !important;
}

.pl-pl--1 {
  padding-left: $spacer * 0.25 !important;
}

.pl-pl--2 {
  padding-left: $spacer * 0.5 !important;
}

.pl-pl--3 {
  padding-left: $spacer * 1 !important;
}

.pl-pl--4 {
  padding-left: $spacer * 1.5 !important;
}

.pl-pl--5 {
  padding-left: $spacer * 2 !important;
}

.pl-pl--6 {
  padding-left: $spacer * 3 !important;
}

.pl-pb--0 {
  padding-bottom: 0 !important;
}

.pl-pb--1 {
  padding-bottom: $spacer * 0.25 !important;
}

.pl-pb--2 {
  padding-bottom: $spacer * 0.5 !important;
}

.pl-pb--3 {
  padding-bottom: $spacer * 1 !important;
}

.pl-pb--4 {
  padding-bottom: $spacer * 1.5 !important;
}

.pl-pb--5 {
  padding-bottom: $spacer * 2 !important;
}

.pl-pb--6 {
  padding-bottom: $spacer * 3 !important;
}

.pl-px--0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.pl-px--1 {
  padding-left: $spacer * 0.25 !important;
  padding-right: $spacer * 0.25 !important;
}

.pl-px--2 {
  padding-left: $spacer * 0.5 !important;
  padding-right: $spacer * 0.5 !important;
}

.pl-px--3 {
  padding-left: $spacer * 1 !important;
  padding-right: $spacer * 1 !important;
}

.pl-px--4 {
  padding-left: $spacer * 1.5 !important;
  padding-right: $spacer * 1.5 !important;
}

.pl-px--5 {
  padding-left: $spacer * 2 !important;
  padding-right: $spacer * 2 !important;
}

.pl-px--6 {
  padding-left: $spacer * 3 !important;
  padding-right: $spacer * 3 !important;
}

.pl-py--0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.pl-py--1 {
  padding-top: $spacer * 0.25 !important;
  padding-bottom: $spacer * 0.25 !important;
}

.pl-py--2 {
  padding-top: $spacer * 0.5 !important;
  padding-bottom: $spacer * 0.5 !important;
}

.pl-py--3 {
  padding-top: $spacer * 1 !important;
  padding-bottom: $spacer * 1 !important;
}

.pl-py--4 {
  padding-top: $spacer * 1.5 !important;
  padding-bottom: $spacer * 1.5 !important;
}

.pl-py--5 {
  padding-top: $spacer * 2 !important;
  padding-bottom: $spacer * 2 !important;
}

.pl-py--6 {
  padding-top: $spacer * 3 !important;
  padding-bottom: $spacer * 3 !important;
}

.pl-p--0 {
  padding: 0 !important;
}

.pl-p--1 {
  padding: $spacer * 0.25 !important;
}

.pl-p--2 {
  padding: $spacer * 0.5 !important;
}

.pl-p--3 {
  padding: $spacer * 1 !important;
}

.pl-p--4 {
  padding: $spacer * 1.5 !important;
}

.pl-p--5 {
  padding: $spacer * 2 !important;
}

.pl-p--6 {
  padding: $spacer * 3 !important;
}