.p-text-justify {
    text-align: justify !important;
}

.p-text-left {
    text-align: left !important;
}

.p-text-right {
    text-align: right !important;
}

.p-text-center {
    text-align: center !important;
}

.p-text-nowrap {
    white-space: nowrap !important;
}

.p-text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.p-text-lowercase {
    text-transform: lowercase !important;
}

.p-text-uppercase {
    text-transform: uppercase !important;
}

.p-text-capitalize {
    text-transform: capitalize !important;
}

.p-text-bold {
    font-weight: 700 !important;
}

.p-text-normal {
    font-weight: 400 !important;
}

.p-text-light {
    font-weight: 300 !important;
}

.p-text-italic {
    font-style: italic !important;
}