.pl-as--start {
    align-self: start;
}

.pl-as--end {
    align-self: flex-end;
}

.pl-as--center {
    align-self: center;
}

.pl-as--baseline {
    align-self: baseline;
}

.pl-as--stretch {
    align-self: stretch;
}