.pl-ai--start {
    align-items: flex-start;
}

.pl-ai--end {
    align-items: flex-end;
}

.pl-ai--center {
    align-items: center;
}

.pl-ai--baseline {
    align-items: baseline;
}

.pl-ai--stretch {
    align-items: stretch;
}