.pl-jc--start {
    justify-content: flex-start;
}

.pl-jc--end {
    justify-content: flex-end;
}

.pl-jc--center {
    justify-content: center;
}

.pl-jc--between {
    justify-content: space-between;
}

.pl-jc--around {
    justify-content: space-around;
}

.pl-jc--evenly {
    justify-content: space-evenly;
}