.pl-order--0 {
    order: 0;
}

.pl-order--1 {
    order: 1;
}

.pl-order--2 {
    order: 2;
}

.pl-order--3 {
    order: 3;
}

.pl-order--4 {
    order: 4;
}

.pl-order--5 {
    order: 5;
}

.pl-order--6 {
    order: 6;
}